name: NBA Daily Analytics
on:
  schedule:
    - cron: '0 16 * * *'  # 16:00 UTC is 8:00 AM PST
  workflow_dispatch:      # This allows you to run it manually to test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run NBA Script
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python nba_scout.p6
